.multi_search {
    display: flex;
    flex-direction: column;
    .search_wrapper {
        min-width: 300px;
        height: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        .selected_users_wrapper {
            display: flex;
            gap: 3px;
            height: 100%;
            background: #fff;
            align-items: center;
            padding: 0 0.25rem;
            .selected_user {
                display: flex;
                align-items: center;
                background-color: #f3f1f1;
                color: #000000a3;
                font-size: 0.75rem;
                height: 70%;
                max-width: 67px;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 0.25rem;

            }
        }
        input {
            outline: none;
            border: none;
            height: 100%;
            width: 100%;
            padding: 0.25rem 0.5rem;
        }
    }
    .search_suggestions_wrapper {
        max-height: 200px;
        overflow-y: scroll;
        .search_suggestions {
            padding: .25rem .5rem;
        }
    }

}